{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search</h1>

    {% if search_results %}
        <table>
            <tbody>
                {% for result in search_results %}
                    <tr>
                        <td>
                           {% for page in result.issue_pages.all %}
                            {% if page.page_number == 1 %}

                                <a href="{{ page.page_url }}">
                                    <img src="{{ page.page_url }}?width=100&height=200" align="left"/>
                                </a>
                             {% endif %}
                           {% endfor %}
                        </td>
                        <td>
                            <p>Title: {{ result.issue_publication.publication_title }}</p>
                            <p>Date: {{ result.publication_date }}</p>
                            <p><a href="{% pageurl result %}">Volume: {{ result.volume }}, Issue: {{ result.issue }}</a></p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}
{% endblock %}
