{% extends "base.html" %}
{% load wagtailcore_tags publication_tags %}

{% block content %}
<p>
    The University of Chicago Campus Publications digital collection provides access to serial and occasional publications documenting the history of the University of Chicago and the work of its faculty, students, and alumni. Included in this collection are publications issued by administrative units of the University of Chicago as well as those published by independent student organizations on campus. The collection of titles available on this site will grow as additional publications are digitized. For further information on campus publications that are available in print form, please contact us.
</p>
{% endblock %}

