{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <p>Title: {{ self.issue_publication.publication_title }}</p>
    <p>Date: {{ self.publication_date }}</p>
    <p>Volume: {{ self.volume }}, Issue: {{ self.issue }}</p>
    {{ self.issue_publication.publication_description|richtext }}

    {% for page in self.issue_pages.all %}
        <a href="{{ page.page_url }}">
            <img src="{{ page.page_url }}?width=100&height=200" align="left"/>
        </a>
    {% endfor %}
{% endblock %}